<div class="asdf">
    <div class="login-container">
      <h2>Forgot Password</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="p-field">
          <label for="email">Email:</label>
          <input
            id="email"
            pInputText
            type="email"
            formControlName="email"
            placeholder="Enter your registered email"
          />
          <small *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
            <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</span>
            <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Enter a valid email.</span>
          </small>
        </div>
        <button pButton type="submit" label="Send Reset Link" [disabled]="forgotPasswordForm.invalid">
        </button>
        <div class="extra-options">
          <p>
            Remembered your password? 
            <a (click)="navigateToLogin()">Login here</a>
          </p>
        </div>
      </form>
    </div>
  </div>
  